body {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: #ffe6ec;
}

ul {
  margin: 0;
  padding: 0;
}

.btn {
  background-color: #ffa5ba;
  color: white;
  margin-top: 10px;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  cursor: pointer;
  border: none;
}

.is-hidden {
  display: none;
}

.search-form {
  width: 400px;
  margin: 0 auto;
}

.input {
  border-radius: 20px;
  border: none;
  height: 40px;
  text-align: center;
  width: 400px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.gallery {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  margin-left: -30px;
  margin-bottom: -30px;
  flex-wrap: wrap;
  align-items: flex-end;
}

.photo-card {
  flex-basis: calc((100% / 3) - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.photo-card:hover {
  cursor: pointer;
}

.stats {
  display: flex;
  justify-content: space-evenly;
  width: 400px;
  margin-left: 30px;
}

.stats-item {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.material-icons {
  margin-right: 5px;
}
