<form class="search-form" id="search-form">
  <input
    class="input" 
    type="text"
    name="query"
    autocomplete="off"
    placeholder="Search images..."
  />
  <button type="submit" class="btn" name="btn">Search</button>
</form>


<ul class="gallery">
  <!-- Список <li> с карточками изображений -->
</ul>


<button class="btn is-hidden" type="button" data-load-more>
  <span
    class="spinner-border spinner-border-sm is-hidden spinner_js"
    aria-hidden="true"
  ></span>
  <span class="label load-more_js">Load more</span>
</button>
